*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* container */
header{
    height: 50px;
}

/* speaker */
.speaker{
    color: white;
    height: 50px;
    background-color: grey;
    font-size: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: end;    
    align-items: center;
    width: 100%;
}

.speaker a{
    color: white;
    text-decoration: none;
    padding-left: 20px;
}

.speaker a:hover{
    color: red;
    text-decoration: underline;
}

/* corpo centrale */
main{
    height: 100vh;
    background-color: black;
    position: relative;
    height: calc(100vh - 130px);
    overflow: auto;
}

.cell{
    border: 1px solid black;
    width: 80%;
    margin: auto;
    padding-top: 70px;
    padding-bottom: 100px;   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.user{
    border: 1px solid black;
    width: 150px;
    height: 100px;
    background-color: white;
    margin: 5px;
    position: relative;
    text-align: center;
    background-image: url(../img/icona.jpg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    border: solid 2px orange;
}

.user i{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 12px;
    border: 1px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 2px;
}


/* footer */
footer{
    height: 80px;
}

/* footer contenitore */
.foot-row{
    height: 100%;
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foot{
    display: flex;
}

.icon{
    margin-right:10px;
}

.icon a{
    display: block;
}

.icon-simb, .icon-text{
    color: white;
    display: inline-block;
    text-align: center;
}

.icon-simb{
    font-size: 30px;
    margin-top: 10px;
}

.icon-text{
    font-size: 15px;
    min-width: 50px;
}

.left{
    width: 20%;
}

.center{
    justify-content:center;
    width: 78%;
}

.right{
    justify-content: end;
    width: 20%;
}

.text-red{
    color: red;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 30px;
}